* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 30px;
}

button {
    margin-left: 30px;
    padding: 35px;
    font-size: 13pt;
}

p {
    margin: 30px;
    font-size: 13pt;
}